.mini-product-container{
    display:flex;
    flex-direction:column;
    background-color: rgb(255,255,255);
    margin:5px;
    width:280px;
    border:0px 0px 2px 0px grey;
    padding:10px;
    align-items: center;
    height:auto;
    border-radius: 10px;
}

.mini-image-container{
    height:220px;
    display:flex;
    align-items: center;
}

.mini-image-container img{
    width:220px;
    height: 200px;
}
.mini-product-details{
    font-size:20px;
    font-weight: 700;
}
.mini-price-container{
    display:flex;
    padding:0px 0px;
    margin:0px 0px;
    flex-direction: column;
}

.mrp ,
.saleprice,
.yousave{
    display:flex;
    margin:0px;
    line-height:0px;
    padding:5px;
}
.yousave{
    color:rgba(5, 101, 5, 0.769);
}
.show-more-btn{
    background-color: white;
    color:rgba(137, 43, 226, 0.71);;
    border:2px solid rgba(137, 43, 226, 0.71);;
    padding:5px;
    border-radius:5px;
    margin:10px;
}

.show-more-btn:hover{
    background-color: rgba(0, 0, 0, 0.482);
    color:white;
}