@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
nav{
    display:flex;
    justify-content: flex-end;
    width:100%;
    align-items: center;
    padding-inline-end: 24px;
    
}

nav button{
    margin:5px;
    border:none;
    color:black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    font-family: 'Secular One', sans-serif;

}
.navbar{
    display: flex;
    background-color: rgba(137, 43, 226, 0.71);
}
.left-container img{
    width: 200px;
    padding-left: 30px;
}

.cart-btn{
    display:flex;
    align-items: center;
    padding:10px;
}
.cart-btn img{
    width: 30px;
    height:fit-content;
    
}
.cart-icon-css{
    font-family: 'Secular One', sans-serif;
    width:10px;
    height:30px;
    display:flex;
    align-items: center;
    border-radius:30px;
    position:relative;
    top:3px;
    right:4px;
    color:black;
    cursor: pointer;
    text-decoration: none;
}

.profile-icon{
    width:40px;
    padding-right:15px;
    cursor: pointer;
}