@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
nav{
    display:flex;
    justify-content: flex-end;
    width:100%;
    align-items: center;
    padding-inline-end: 24px;
    
}

nav button{
    margin:5px;
    border:none;
    color:black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    font-family: 'Secular One', sans-serif;
    font-size:large;

}
.navbar{
    display: flex;
    background-color: rgba(137, 43, 226, 0.71);
}
.left-container img{
    width: 200px;
    padding-left: 30px;
}

.cart-btn{
    display:flex;
    align-items: center;
    padding:10px;
}
.cart-btn img{
    width: 30px;
    height:fit-content;
    
}
.cart-icon-css{
    font-family: 'Secular One', sans-serif;
    width:10px;
    height:30px;
    display:flex;
    align-items: center;
    border-radius:30px;
    position:relative;
    top:3px;
    right:4px;
    color:black;
    cursor: pointer;
    text-decoration: none;
}

.profile-icon{
    width:40px;
    padding-right:15px;
    cursor: pointer;
}
.product-types{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    padding-inline: 30px;
}
.product-types button{
    text-decoration: none; 
    background-color: rgb(0, 0, 0);
    padding-inline: 20px;
    color:white;
    font-size: large;
    padding:20px;
    border:2px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-inline: 20px;
    font-weight: bold;
}
.product-types button:hover{
    text-decoration: none;
    border:2px solid black;
    border-radius: 20px;
    background-color:rgba(137, 43, 226, 0.251);
    color: white;
    padding-inline: 20px;
    font-weight: bold;
}
